{
  "username": "{{ db_username | default('truetally') }}",
  "password": "{{ db_password }}",
  "engine": "postgres",
  "port": 5432,
  "dbname": "{{ db_name | default('truetally') }}",
  "host": "{{ rds_proxy_endpoint }}"
}
