.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.DS_Store

*.tfvars
*.tfvars.json
*.tfbackend


crash.log
crash.*.log


credentials
config
*.pem
*.pkcs12
*.key


.idea/
.vscode/
*.swp
*.swo